%% Set dir where external (downloaded) applications are put
{deps_dir, ["deps"]}.

%% External dependencies
{deps, [
        %% HTTP server
        {elli, ".*",
        {git, "git://github.com/knutin/elli.git", {branch, "master"}}},
        %% Statistics for the webserver
        {elli_stats, "1",
        {git, "git://github.com/knutin/elli_stats.git", {branch, "master"}}}
]}.


