%% Set dir where external (downloaded) applications are put
{deps_dir, ["deps"]}.

%% External dependencies
{deps, [%% Common erlang library
        {hydrogen, ".*",
         {git, "git://github.com/sthadka/hydrogen",
         {branch, "master"}}},
        %% HTTP server
        {elli, ".*",
         {git, "git://github.com/knutin/elli.git",
         {branch, "master"}}},
        %% Elli cookie middleware
        {elli_cookie, ".*",
         {git, "git://github.com/sthadka/elli_cookie.git",
         {branch, "master"}}},
        %% Statistics for the webserver
        {elli_stats, "1",
         {git, "git://github.com/knutin/elli_stats.git",
         {branch, "master"}}},
        %% HTTP auth
        {elli_basicauth, ".*",
         {git, "git://github.com/martinrehfeld/elli_basicauth.git",
         {branch, "master"}}},
        %% Helpers for running the app
        {userd, ".*",
         {git,"git://github.com/anha0825/erl_default.git",
         "9e13bf2f5c8057efc74a9642aa549bd6d33ca181"}}
]}.


